<div class="fs-1 fw-bolder m-4">Login</div>
<form class="d-flex flex-column p-4" id="form">
  <div class="mb-3">
    <label for="name" class="form-label">
      Username
    </label>
    <input type="text" class="form-control" placeholder="username or email" id="email">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">
        password
    </label>
    <input type="password" class="form-control" placeholder="password" id="password">
  </div>
  <button class="btn btn-success align-self-end">Login</button>
</form>
<script src="./js/login.js"></script>
