<div class="p-3">
  <a href="/login" class="btn btn primary">Login</a>
</div>
<div class="p-3">
  <a href="/register" class="btn btn primary">Register</a>
</div>
<div classs"p_3">
  <a href="/tools/instagram" class="btn btn-primary">Tools Download Image Instagram</a>
</div>